#main {
    position:absolute;
    top:50%;
    left:50%;
    width:80em;
    height:24em;
    margin:-12em 0 0 -40em;
    text-align:center;
    /* outline:1px black solid; */
}

em {
    font-style:italic;
}

a {
    color:black;
}
a:visited {
    color:gray;
}

h1#title {
    margin:0.5em 0;
    font:bold 24pt arial;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    margin:0 auto;
    font:10pt arial, sans-serif;
    text-align:center;
    letter-spacing:1px;
}

#chart {
    margin:0 auto;
}

/* ------------------------------------------------------------ */
/* SVG STUFF */

#chart g.layer {
    opacity:0.7;
}
#chart g.layer:hover {
    opacity:1.0;
}

#chart text.label {
    font-family:monospace;
    border-left:1px black solid;
    fill:#AAA;
}
#chart line.label {
    stroke:#AAA;
    stroke-width:1px;
}

#chart line.baseline {
    stroke:#CCC;
    stroke-width:2px;
}
#chart line.weekhighlight {
    stroke:#AAA;
    stroke-width:2px;
}