#main {
    position:absolute;
    top:50%;
    left:50%;
    width:80em;
    height:32em;
    margin:-16em 0 0 -40em;
    text-align:center;
    /* outline:1px black solid; */
}

#chart {
    margin:0 auto;
}

#user {
    width:20em;
    margin:0.5em;
    text-align:center;
    font:16pt arial;
    background-color:#DDF;
}

#submit {
    font:16pt arial;
}

/* ------------------------------------------------------------ */
/* SVG STUFF */

#chart #overlay {
    font-size:72pt;
    opacity:0.3;
}

#chart g.layer {
    opacity:0.7;
}
#chart g.layer:hover {
    opacity:1.0;
}

#chart text.label {
    font-family:monospace;
    fill:#888;
}
#chart line.label {
    stroke:#888;
    stroke-width:1px;
}

#chart line.baseline {
    stroke:#AAA;
    stroke-width:2px;
}
#chart line.weekhighlight {
    stroke:#888;
    stroke-width:2px;
}

#chart text.rule {
    font-family:monospace;
    fill:#888;
}
#chart line.rule {
    stroke:#CCC;
    stroke-width:1px;
}