/* general ---------------------------------------- */
em {
    font-style:italic;
}

a {
    color:black;
}
a:visited {
    color:gray;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    margin:0 auto;
    font:10pt arial, sans-serif;
    text-align:center;
    letter-spacing:1px;
}

h2 {
    font:20pt arial;
}

/* title ---------------------------------------- */
h1#title {
    margin:0.5em 0;
    font:24pt arial;
}

a#title-do {
}
a#title-d3 {
    font-weight:bold;
}
a#title-cat {
    font-style:italic;
}

h1#title a, h1#title a:visited {
    color:black;
}
