{% extends "index.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/graph.css">
<script type="text/javascript">
  var user = "{{ user }}";
  var repo_list = {{ repos }};
</script>
{% endblock %}

{% block main %}
    <div id="chart"></div>

    <form action="." method="get">
      <input type="text" name="user" id="user" /><br/>
      <input type="submit" id="submit" value="Another User" />
    </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
  <script type="text/javascript" src="/static/js/d3/d3.layout.min.js"></script>
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}
