<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>ALL the Github Commits</title>
  <meta name="description" content="An overall graph of your participation in every github repo">

  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <div id="main" role="main">
    <header>
      <h1 id="title"><em>ALL</em> your Github Commits</h1>
    </header>

    <p id="about">
      Give us a github username, and we'll give you a participation graph
      for <em>all</em> your repos.
    </p>

    <form action="." method="get">
      <input type="text" name="user" id="user" /><br/>
      <input type="submit" id="submit" />
    </form>
  </div>

  <footer>
    By <a href="http://thenoviceoof.com">Thenoviceoof</a>
  </footer>

  <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/static/js/d3.js"></script>
</body>
</html>
